@import 'base/colors';
@import 'base/fonts';

$primary-background-color: $green;

body{
  background-color: $primary-background-color;
  color: $white;
}

h1{
  @extend .nunito;
  text-align: center;
}

